.net{
    height: 300px;
    width: 60px;
    border-left: 60px solid maroon;
    border-right: 4rem solid rgb(163, 4, 4);
    position: relative;
}
.net::before{
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background-color: maroon ;
    transform: skew(20.5deg);
    box-shadow: 0 0 30px black;
    position: absolute;
}